
  
  table {
    margin: 0 auto;
    width: 80%;
  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
  }
  
  thead th {
    background-color: #d6b030;
    color: #faf7f7;
  }
  
  tbody tr:nth-child(even) {
    background-color: #fbf4e1;
  }
  
  .actions {
    display: flex;
    justify-content: center;
  }
  
  .actions button {
    margin: 0 10rem;
  }
  