:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #323232;
  --glass: rgba(255, 255, 255, 0.793);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: rgb(221, 181, 22);
}
/* myOne */
/* .Common {
/* #4769fd 29.63%,
#4c61ff 51.55%,
#103ce7 90.85%  */

.Common {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #dcce2c 29.63%,
    #323232 51.55%,
    #dcce2c 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Inter', sans-serif; */
}

.CommonGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 14rem auto 20rem;
}

.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* border: solid 4px #6f5656; */
  border-radius: 15px;
  background-color: rgb(239, 249, 249);
  /* justify-content: space-evenly;  */
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .CommonGlass {
    grid-template-columns: 20% 80%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .CommonGlass {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  /* Adjust the column widths for smaller screens */
  .CommonGlass > * {
    width: 100%;
  }
}
