.MainDash {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* border: solid 4px #6f5656; */
  border-radius: 15px;
  background-color: rgb(249, 250, 193);
  /* justify-content: space-evenly;  */
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}
